<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.1.2" targetFramework="net451" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="NUnit.Extensions" version="2.6.0.0" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net451" />
</packages>